{% extends 'empty.html' %}
{% block content %}
<style>
    .hint {
    font-size: 20px;
    border: 2px solid #212529;
    font-weight:800;
    }

    #output, #word_is {
    display: none;
    }

    #user_guess {
    text-align: center;
    }

    #instructions {
    display: none;
    }

    #about {
    display: none;
    }

    #rules-a {
    display: none;
    }

    #about-a {
    display: none;
    }

    text {
    transform: rotate(90deg);
    }

    svg {
    align-self: center;
    height: 8vh;
    width: 8vh;
    transform: rotate(-90deg);
    }

    circle {
    animation: spin 100s linear forwards;
    }

    @keyframes spin {
    0% {
      stroke-dashoffset: 126;
    }
    100% {
      stroke-dashoffset: 0;
    }
    }
</style>

<!-- timer -->
<svg id="timer-section" viewBox="0 0 42 42">
<defs>
<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
<stop offset="0%" style="stop-color:rgb(220,220,220);stop-opacity:1" />
<stop offset="100%" style="stop-color:rgb(255,240,245);stop-opacity:1" />
</linearGradient>
</defs>

<circle id="timer-circle" r=20 cx=21 cy=21 fill="url(#grad1)" stroke="green" stroke-width="3px"
        stroke-dasharray="126" stroke-linecap="round"></circle>
<text y="-15px" x="13px" fill="grey"></text>
</svg>

<!-- mute button -->
<!--<a id="mute-btn" href="#" onclick="document.getElementById('Player').muted = true;">sound off</a>-->


<!-- hint words -->
<div style="margin-top:50px;margin-bottom:50px;font-family: var(--bs-font-sans-serif)">
    <p class="hint">{{ hint1 }}</p>
    <p class="hint">{{ hint2 }}</p>
    <p class="hint">{{ hint3 }}</p>
    <p class="hint">{{ hint4 }}</p>
    <p class="hint">{{ hint5 }}</p>

<!-- guess submit -->
<form style="font-family:'Roboto Mono', monospace;" id="form" onsubmit="return false;" method="POST">
    <div >
  <input type="text" name="guess" placeholder="Enter Your Guess" id="user_guess"/>
    </div>
    <div style="margin:50px">
      <input id="submit-button" style="font-weight:700;width:140px;height:50px;background-color:green;color:white"
             type="button" value="Submit Guess"
             onclick="show_result()"/>
    </div>
</form>

<!-- hidden result container -->
<div style="font-family:'Roboto Mono', monospace;" class="result-container">
    <h1 style="margin-top: 50px;font-weight:700" id="message"></h1>
    <h3 id="word_is">the word is</h3><h3 id="output" style="font-weight: 700;">{{ solution }}</h3>
</div>

<!-- hidden play again button -->
<div id="play-again-div" style="font-family:'Roboto Mono', monospace;">
<a id="play_again" style="display:none;font-size:15px;font-weight:700;margin:30px auto;background-color:green;
width:150px;" class="btn btn-primary" href="/play">play again</a>
</div>

{% endblock content %}

{% block extra_js %}

<script>

function show_result() {
    document.getElementById("timer-section").style.display = "none";
    var winning_word = document.getElementById("output").textContent
    var input = document.getElementById("user_guess").value.toUpperCase().trim();
    var final_message = document.getElementById("message");
    if (input == winning_word) {
        final_message.textContent += "YOU WON"
        document.getElementById("message").style.color = "#3DFF00"
        var happy_song = document.getElementById("happy");
        happy_song.play();
    } else {
        final_message.textContent += "YOU LOST"
        document.getElementById("message").style.color = "#BF2800"
        var sad_song = document.getElementById("sad");
        sad_song.play();
    }
    document.getElementById("user_guess").disabled = true;
    document.getElementById("user_guess").readOnly = true;
    document.getElementById('submit-button').style.display = "none";
    document.getElementById('word_is').style.display = "block";
    document.getElementById('output').style.display = "block";
    document.getElementById('play_again').style.display = "inline-block";

    var music = document.getElementById("Player");
    music.muted = true;
    document.getElementById('play-again-div').scrollIntoView();
}

var music = document.getElementById("Player");
<!--music.muted = false;-->


timer();

document.getElementById("submit-button").addEventListener("click", timer);

function timer() {
  var sec = 60;

  function updateSec() {
    sec--;
    if (sec < 30) {
      document.getElementById("timer-circle").style.stroke = "#FF7400";
    }
    if (sec < 10) {
      document.getElementById("timer-circle").style.stroke = "#FF4100";
      document.querySelector("text").innerHTML = `&nbsp${sec}`;
    } else {
      document.querySelector("text").innerHTML = sec;
    }
    if (sec === 0) {
      stopTimer();
      if (document.getElementById("user_guess").disabled == false) {
        show_result();
      }
    }
  }
  updateSec();

  var interval = setInterval(updateSec, 1000);

  function stopTimer() {
    clearInterval(interval);
  }
}

// triggering submission on ENTER
var input = document.getElementById("user_guess");
input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("submit-button").click();
    }
});
</script>

{% endblock extra_js %}