{% extends 'empty.html' %}
{% block content %}
<style>
    .hint {
    font-size: 20px;
    border: 2px solid #212529;
    font-weight:800;
    }
</style>

<div style="margin-top:50px;margin-bottom:50px">
    <p class="hint">{{ option0 }}</p>
    <p class="hint">{{ option1 }}</p>
    <p class="hint">{{ option2 }}</p>
    <p class="hint">{{ option3 }}</p>
    <p class="hint">{{ option4 }}</p>

    <h3 style="padding-top:30px; padding-bottom:20px" class="fw-bolder">One minute to think ...</h3>

        <form action="/end" method="POST">
            <div >
          <input type="text" name="guess" placeholder="Enter Guess" />
            </div>
            <div style="margin:50px">
          <input style="font-weight:700;width:120px;height:50px;background-color:green;color:white"
                 type="submit" value="Submit guess" />
            </div>
        </form>
</div>
{% endblock content %}