{% extends "empty.html" %}

{% block content %}

    {% for hint in hints %}
        <p>{{ hint }}</p>
    {% endfor %}

    <br style=“line-height:N;”>
    <h5>your guess: {{ guess }}</h5>
    <br style=“line-height:N;”>
    <h1>{{ result }}</h1>
    <br style=“line-height:N;”>
    <h3>the word is {{ solution }}</h3>

    <a style="font-size:20px;margin-top:50px;background-color:green;padding:10px 50px 10px 50px"
       class="btn btn-primary" href="/">Start again</a>

{% endblock %}

{% block extra_js %}

{% endblock extra_js %}

